<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Our Logo</a>
  <form class="form-inline">
    <a class="btn btn-outline-primary" href="/people" role="button">People</a>
<!--     <span class="btn btn-outline-primary" role="button">
    <%= link_to 'People', (url_for(controller: 'people', action: 'index'))%>    
    </span> -->
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-success" href="/posts" role="button">Posts</a>
<!--       <span class="btn btn-outline-success" role="button">
      <%= link_to 'Posts', (url_for(controller: 'posts', action: 'index'))%>
      </span> -->
    </div>
  </form>
</nav>